.h1{
    color: blue;
  font-family: verdana;
  font-size: 100%;
}
.h2{
    color: blue;
  font-family: verdana;
  font-size: 100%;
}
.h3{
    color: blue;
  font-family: verdana;
  font-size: 100%;
}